Django==1.3.3
django-extensions

bpython
yolk
PyYaml
django-annoying


django-model-utils==1.1.0   ## model defining utils

django-debug-toolbar

#heroku
dj-database-url==0.2.1
psycopg2
gunicorn==0.14.6